# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uilds/
[Ll]ogs/

# IDE
.vs/
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Unity lighting cache (НЕ сцени!)
LightingData.asset
LightingData.asset.meta
ReflectionProbe-*.exr
ReflectionProbe-*.exr.meta
